{% sw_extends '@Storefront/storefront/page/checkout/confirm/confirm-payment.html.twig' %}

{# < SW 6.4 #}
{% block page_checkout_confirm_payment_current_text %}

    {# @var easycredit #}
    {% set easycredit = page.extensions.easycredit %}

    {% if easycredit and easycredit.isSelected %}
        <easycredit-checkout-label paymentType="{{ easyCreditPaymentType(selectedPaymentMethod) }}"></easycredit-checkout-label>
        {% if easycredit.paymentPlan %}
            <easycredit-checkout paymentType="{{ easyCreditPaymentType(selectedPaymentMethod) }}" payment-plan="{{ easycredit.paymentPlan }}"></easycredit-checkout>
        {% elseif not easycredit.error %}
            <a href="#" id="easycredit-recalculate">{{ "easycredit.recalculate"|trans }}</a>
        {% endif %}
    {% else %}

        {{ parent() }}

    {% endif %}

{% endblock %}
